:root {
  --font-family-1: sans-serif;
  --font-family-2: "Poppins", sans-serif;
  --color-brand-1: rgb(33, 33, 125);
  --color-brand-2: rgb(41, 41, 231);
  --color-brand-3: rgb(235, 235, 235);
  --color-brand-4: rgb(39, 39, 39);
}
body {
  margin: 0;
}
.navbar {
  display: grid;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--font-family-2);
  list-style: none;
  width: 15%;
  height: 100vh;
  background-color: var(--color-brand-1);
  color: var(--color-brand-3);
  left: 0;
  align-items: center;
}
div.up {
  display: flex;
  margin-bottom: 300px;
  flex-direction: column;
}
.logo {
  display: flex;
  margin-left: 30px;
}
.icon {
  display: flex;
  flex-direction: row-reverse;
  padding: 0px;
}

.icon > img {
  width: 40px;
  height: 40px;
}

.nav {
  list-style-type: none;
}
.main {
  list-style-type: none;
}
.main .jake {
  font-family: var(--font-family-2);
  position: absolute;
  top: 10%;
  left: 25%;
  font-size: 30px;
}
.main .Help {
  font-family: var(--font-family-2);
  position: absolute;
  top: 20%;
  left: 25%;
  font-size: 20px;
}
.main .searchbar {
  position: relative;
  display: flex;
  min-width: 100px;
  width: 200px;
  height: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border: none;
  font-family: var(--font-family-2);
  position: absolute;
  left: 25%;
  top: 25%;
}
.main .category {
  position: absolute;
  font-family: var(--font-family-2);
  left: 25%;
  top: 35%;
}
.options {
  display: flex;
  position: absolute;
  color: var(--color-brand-3);
  left: 25%;
  bottom: 23%;
  max-width: 30%;
  max-height: 30%;
  gap: 30px;
  color: var(--color-brand-4);
  font-family: var(--font-family-1);
}
.option:hover {
  color: var(--color-brand-3);
  background-color: var(--color-brand-2);
  transition: background-color 0.5s ease;
  border-style: none;
}
.option {
  display: flex;
  border: solid 0.5px rgb(219, 219, 217);
  border-radius: 5px;
  justify-content: center;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}

.option > img {
  height: 150px;
  width: 150px;
}
.nextbutton {
  display: flex;
  border: 1px solid black;
  border-style: none;
  background-color: var(--color-brand-2);
  position: absolute;
  padding: 10px;
  border-radius: 7px;
  font-family: var(--font-family-1);
  color: white;
  right: 13%;
  bottom: 12%;
}
.nextbutton:hover {
  background-color: var(--color-brand-4);
  color: var(--color-brand-3);
  transition: background-color 0.5s ease;
}
